
button{
    background-color: rgb(7, 249, 68);
    outline: none;
    border: none;
    width: 10%;
    height: 30px;
    color: white;
    font-size: 1.2rem;
  }
  button:hover{
    background-color:  rgb(7, 249, 68,0.5);
  }
  
  .Directory{
    display: flex;
    padding: 40px;
    justify-content: space-around;
  
  }
  .head{
    font-size: 1.2rem;
    font-weight: 650;
  }
  .pad{
    padding: 0px;
    margin-bottom: 10px;
  }

  .delete-btn{
    color: black;
    background-color: red;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
  }